<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Photo</title>
    <!-- Подключение внешнего CSS-файла -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- Подключение внешнего JavaScript-файла -->
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
    <div>
        <h1>Upload a Photo</h1>
        <input type="file" id="photoInput" name="photo" accept="image/*">
        <div id="preview">
            <div class="loader" id="loader"></div>
            <img id="previewImage" src="" alt="Image Preview">
        </div>
        <div class="controls">
            <label>
                Max Value: <input type="range" id="maxValue" min="0" max="255" step="1" value="255">
            </label>
            <label>
                Adaptive Method:
                <select id="adaptiveMethod">
                    <option value="ADAPTIVE_THRESH_MEAN_C">Mean</option>
                    <option value="ADAPTIVE_THRESH_GAUSSIAN_C">Gaussian</option>
                </select>
            </label>
            <label>
                Threshold Type:
                <select id="thresholdType">
                    <option value="THRESH_BINARY">Binary</option>
                    <option value="THRESH_BINARY_INV">Binary Inverted</option>
                </select>
            </label>
            <label>
                Block Size: <input type="range" id="blockSize" min="3" max="255" step="2" value="11">
            </label>
            <label>
                C: <input type="range" id="C" min="-10" max="10" step="1" value="2">
            </label>
        </div>
        <div id="processedImageContainer">
            <img id="processedImage" src="" alt="Processed Image">
        </div>
    </div>
</body>
</html>
